<div style="display: flex; justify-content: space-between;">
  <!-- Formulaire d'inscription -->
  <div style="flex-basis: 48%;">
  <h3>Inscription</h3>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :nom_d_utilisateur %><br />
        <%= f.text_field :username, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :addresse_email %><br />
        <%= f.email_field :email, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :mots_de_passe %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> caractères minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :confirmation_du_mots_de_passe %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Inscription" %>
      </div>
    <% end %>
  </div>

  <!-- Barre verticale de séparation -->
  <div style="border-left: 1px solid #ccc; height: 300px;"></div>

  <!-- Formulaire de connexion -->
  <div style="flex-basis: 48%;">
  <h3>Connexion</h3>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :Email %><br />
        <%= f.text_field :login, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :mots_de_passe %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :se_souvenir_de_moi %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Connexion" %>
      </div>
    <% end %>
  </div>
</div>
