<div class="dsh-form">
  <%= form_for @user, local: true, class:'form-horizontal' do |f| %>
    <div>
      <%= f.label :username, "Nom d'utilisateur", class:"form-label" %>
      <%= f.text_field :username, placeholder: "Nom d'utilisateur", class: "form-input" %><br>
      <%= f.label :email, "Email", class:"form-label" %>
      <%= f.text_field :email, placeholder:"Email", class:"form-input"%>
      <%= f.label :password, "Mot de passe", class:"form-label" %>
      <%= f.password_field :password, placeholder:"Mot de passe", class:"form-input"%>
      <%= f.label :password_confirmation, "Confirmation du mot de passe", class:"form-label" %>
      <%= f.password_field :password_confirmation, placeholder:"Confirmation du mot de passe", class:"form-input"%>
      <%= label_tag "chosen_role", "Rôle", class:"form-label" %>
      <%= select_tag "user[role]", options_for_select(User.roles.keys.map { |role| [role.humanize, role] }), prompt: "Sélectionner un rôle", class: "form-input" %>
    </div>
    <div class="pt-20">
      <button type="submit" class="btn-dashboard btn-new"><%= @user.new_record? ? " Créer ": "Modifier " %></button>
      <button type="button" class="btn-dashboard btn-delete" onclick="history.back()">Annuler</button>
    </div>
  <% end %>
</div>
