<h1>Bienvenue sur boiler plate</h1>

<div class="container">
  <h1 class="display-4">Welcome to My Rails App</h1>
  <p class="lead">This is a Bootstrap-styled page.</p>
</div>
<div class="test">
  sjkd
</div>
<% if user_signed_in? %>
<p>
    <%= link_to 'Se deconnecter', destroy_user_session_path, method: :delete %>
    <%if current_user.admin?%>
      <%= link_to 'Dashboard Admin', admin_user_managment_index_path%>
    <%end %>
    <%= link_to 'Edit information', edit_account_path(@account)%>
    
</p>

<% else %>
<p>
    <%= link_to 'Se connecter', new_user_registration_path, id: 'new-user-link' %>
</p>

<% end %>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    const newUserLink = document.getElementById('new-user-link');

    if (newUserLink) {
      newUserLink.addEventListener('click', function(e) {
        e.preventDefault(); // Annuler le comportement par défaut du lien
        const url = this.getAttribute('href'); // Obtenir l'URL du lien

        showEditData(url);
      });
    }

    function showEditData(url) {
      fetch(url)
        .then(response => response.text())
        .then(html => {
          Swal.fire({
            html: html,
            showCloseButton: true,
            customClass: {
              popup: 'custom-popup-class',
            },
          }).then((result) => {
            if (result.isDenied) {
              // Gérer le clic sur le bouton "Modifier" ici
            }
          });
        })
        .catch(error => {
          console.error('Error fetching data:', error);
        });
    }
  });
</script>



