<%= form_with(model: address) do |form| %>
  <% if address.errors.any? %>
    <div style="color: pink">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
        <% address.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div>
    <%= form.label :'Street', style: "display: block" %>
    <%= form.text_field :street %>
  </div>

  <div>
    <%= form.label :'Street 2', style: "display: block" %>
    <%= form.text_field :street_two %>
  </div>


  <div>
    <%= form.label :'city', style: "display: block" %>
    <%= form.text_field :city %>
  </div>

  <div>
    <%= form.label :'country', style: "display: block" %>
    <%= form.text_field :country %>
  </div>

  <div>
    <%= form.label :'state', style: "display: block" %>
    <%= form.text_field :state %>
  </div>

  <div>
    <%= form.label :'Postal code', style: "display: block" %>
    <%= form.text_field :pc %>
  </div>


  <div>
    <%= form.submit %>
  </div>

  <button type="button" class="btn-dashboard btn-delete" onclick="history.back()">Cancel</button>
<% end %>
