<% @addresses.each do |address| %>
  <%= form_with(model: address) do |form| %>
    <% if address.errors.any? %>
      <div style="color: pink">
        <h2><%= pluralize(address.errors.count, "erreur") %> ont empêché cette adresse d'être enregistrée :</h2>

        <ul>
          <% address.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :'Rue', style: "display: block" %>
      <%= form.text_field :street %>
    </div>

    <div>
      <%= form.label :'Rue 2', style: "display: block" %>
      <%= form.text_field :street_two %>
    </div>

    <div>
      <%= form.label :'Ville', style: "display: block" %>
      <%= form.text_field :city %>
    </div>

    <div>
      <%= form.label :'Pays', style: "display: block" %>
      <%= form.text_field :country %>
    </div>

    <div>
      <%= form.label :'État', style: "display: block" %>
      <%= form.text_field :state %>
    </div>

    <div>
      <%= form.label :'Code postal', style: "display: block" %>
      <%= form.text_field :pc %>
    </div>

    <div>
      <%= form.submit %>
      <%= button_to "Supprimer", address, method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer cette adresse ?' }, class: "btn-dashboard btn-delete" %>
    </div>

  <% end %>
<% end %>

<button type="button" class="btn-dashboard btn-delete" onclick="history.back()">Annuler</button>