<!DOCTYPE html>
<html>
  <head>
    <title>Leobotics</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <%= stylesheet_link_tag 'https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Include SweetAlert -->
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/sweetalert2@11' %>

    <!-- Include jQuery -->
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.7.0.js' %>

    <!-- Include Datatable -->
    <%= javascript_include_tag 'https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div class="alert alert-success fade show" id="notif-alert"
        style="position: absolute; z-index: 1000;" role="alert">
        <p><%= msg %></p>
      </div>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
