<div id="<%= dom_id account %>">
  <div class="dsh-form">
    <p><strong>Nom d'utilisateur :</strong> <%= @user.username %></p>
    <p><strong>Email :</strong> <%= @user.email %></p>
    <p><strong>Rôle :</strong> <%= @user.role.humanize %></p>
  </div>

  <div class="dsh-form">
    <p><strong>Image de Profil :</strong></p><%= image_tag @account.image.url, width: '100', height: '100' if @account.image.present? %>
    <p><strong>Prénom :</strong> <%= @account.firstname %></p>
    <p><strong>Nom de Famille :</strong> <%= @account.lastname %></p>
    <p><strong>Numéro de Téléphone :</strong> <%= @account.phone_number %></p>
    <p><strong>Adresses :</strong></p>
    <ul>
      <% @account.addresses.each_with_index do |address, index| %>
        <strong>Adresse <%= index + 1 %>:</strong>
        <ul>
          <li><strong>Rue :</strong> <%= address.street %></li>
          <li><strong>Rue 2 :</strong> <%= address.street_two %></li>
          <li><strong>Ville :</strong> <%= address.city %></li>
          <li><strong>Pays :</strong> <%= address.country %></li>
          <li><strong>État :</strong> <%= address.state %></li>
          <li><strong>Code Postal :</strong> <%= address.pc %></li>
        </ul>
      <% end %>
    </ul>
  </div>
</div>
