<div class="dsh-form">
  <%= form_with(model: @user) do |form| %>
    <% if @user.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this User from being saved:</h2>
        <ul>
          <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <div>
    <%= form.label :username, "Nom d'utilisateur", class: "form-label" %><br>
    <%= form.text_field :username, placeholder: "Nom d'utilisateur", class: "form-input" %><br>
    <%= form.label :email, "Email", class: "form-label" %><br>
    <%= form.text_field :email, placeholder: "Email", class: "form-input" %><br>
    <%= label_tag "chosen_role", "Rôle", class: "form-label" %><br>
    <%= select_tag "user[role]", options_for_select(User.roles.keys.map { |role| [role.humanize, role] }), prompt: "Sélectionner un rôle", class: "form-input" %>
    <%= form.label :password, "Mot de passe", class: "form-label" %>
    <%= form.password_field :password, placeholder: "Mot de passe", class: "form-input" %>
    <%= form.label :password_confirmation, "Confirmer le mot de passe", class: "form-label" %>
    <%= form.password_field :password_confirmation, placeholder: "Confirmer le mot de passe", class: "form-input" %>
  </div>

    <%= form.fields_for :account, account do |account_fields| %>
      <%= account_fields.hidden_field :id %>
      <div>
        <%= account_fields.label :'Image de profil' %>
        <%= account_fields.file_field :image %>
      </div>

      <div>
        <%= account_fields.label :'Prénom', style: "display: block" %>
        <%= account_fields.text_field :firstname %>
      </div>

      <div>
        <%= account_fields.label :'Nom de famille', style: "display: block" %>
        <%= account_fields.text_field :lastname %>
      </div>

      <div>
        <%= account_fields.label :'Numéro de téléphone', style: "display: block" %>
        <%= account_fields.text_field :phone_number %>
      </div>
    <% end %>
    <br>
    <%= form.submit %>
  <% end %>
</div>

<br>
<%= button_to "Réinitialiser le mot de passe", reset_password_user_path(@user), method: :post, class: 'btn btn-primary', data: { confirm: 'Êtes-vous sûr de vouloir réinitialiser le mot de passe de cet utilisateur ?' } %>